body{
    background-color: rgb(172, 249, 255);
}

headfoot{
    text-align: center;
    background-color: rgb(45, 255, 244);
    padding: 10px;
    margin: 6px;
}
    
nav-elements{
        
}

nav_elements li:hover ul{

}

rules{

}